<h1 class="text-danger">Error.<h1>
<h2 class="text-danger">Un error ocurrio al intentar procesar su peticion.</h2>

<h3>Development Mode</h3>
<p>
    Al cambiar a <strong> Development environment</strong> se mostrar치 informaci칩n m치s detallada sobre el error ocurrido.
</p>
<p>
    <strong> El entorno de desarrollo no debe estar habilitado para aplicaciones implementadas. </strong>
    Puede dar lugar a que se muestre informacion confidencial de excepciones a los usuarios finales. 
    PAra la depuracion local, habilite el entorno <strong> Development environment</strong> configurando la variable de entorno
    <strong> ASPNETCORE_ENVIRONMENT</strong> a <Strong>Development</strong>
    y reiniciando la apliaci칩n.
</p>